* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Farro', sans-serif;
}


/*header start*/

.header {
    display: grid;
    grid-template-columns: 28% 60%;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

.logo {
    width: 7rem;
    height: 7rem;
}

.logo img {
    height: 100%;
    width: 100%;
}

.header-txt,
.logo {
    display: flex;
    flex-direction: column;
}

.header-txt h1 {
    font-size: 3rem;
}


/*headere end*/


/*login start*/

.login-container,
.quize-start {
    width: 50%;
    margin: 3rem auto;
    border: 2px solid gray;
    border-radius: 7px;
}

.login-header,
.quize-header {
    background-color: #2270a8;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 14px;
    letter-spacing: 1px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.quize-header{
    display: none;
}

.login-wrap {
    text-align: center;
}

.login-group {
    position: relative;
    padding: 15px;
    height: 5rem;
    border-radius: 0.5rem;
    display: flex;
}

.login-group i {
    color: #999191;
    background-color: #e1ebe7;
    width: 15px;
    padding: 20px;
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border: 1px solid gray;
    position: relative;
}

.login-group input {
    display: inline-block;
    height: 100%;
    width: 92%;
    outline: none;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0 0 0 7px;
    font-family: "Lato", sans-serif;
    margin-left: -3px;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border: 1px solid gray;
}

.login-group button {
    border-color: transparent;
    padding: 5px 35px;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bolder;
    background-color: #00f114;
    cursor: pointer;
    width: 100%;
    border-radius: inherit;
}


/*login end*/


/*quize agree start*/

.quize-start {
    width: 80%;
    border: 1px solid #2270a8;
}

.quize-content {
    margin: 2rem 0;
    margin-left: 6rem;
}

.quize-content p,
.quize-content li {
    color: rgb(39, 182, 238);
    font-size: 1.2rem;
}

.quize-footer {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: rgb(210, 212, 214);
    padding: 1.8rem;
}

.quize-disagree {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.3rem;
}

.quize-footer button {
    background-color: #1ed212;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0 1rem;
    border-width: 0px;
}

.quize-footer input[type="checkbox"] {
    margin-right: 0.2rem;
    background-color: #1ed212;
    width: 24px;
    height: 17px;
}

.quize-footer label {
    font-size: 1.2rem;
}

#quize-slide-pre{
    display: none;
}
/*quize agree end*/

.quize-option {
    margin: 1rem 1rem;
    margin-left: 3rem;
}

.quize-option{
    display: none;
}

.quize-option ul {
    list-style-type: none;
}

.quize-option li {
    color: black;
    font-size: 1.2rem;
    padding: 0.1rem 0;
}

.quize-option ul input[type="radio"] {
    background-color: blue;
    font-size: 2rem;
}

.quize-correct {
    background-color: #80e580;
    padding: 1.3rem 0.9rem;
    margin-top: 0.7rem;
    border-radius: 5px;
    font-size: 1, 2rem;
    display: none
}


/*quize result stART*/

.quize-result-over {
    width: 87%;
    margin: 2rem auto;
    border: 1px solid #e5cccc;
    border-radius: 9px;
}

.quize-result-header {
    background-color: rgb(243 161 161);
    padding: 1rem;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.quize-result-info {
    margin: 1.2rem 0
}

.quize-result-info h1,
.quize-result-header h1 {
    text-align: center;
    font-size: 2.1rem;
    font-weight: lighter;
    line-height: 3rem;
}

.quize-result-header h1 {
    font-size: 2.3rem;
}

.quize-result-wish {
    background-color: rgb(230, 221, 221);
    padding: 1.3rem;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.quize-result-wish h2 {
    font-size: 2rem;
    font-weight: normal;
}

.quize-result-table table {
    width: 98%;
    margin: 1rem auto;
}

.quize-result-table tr {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
}

.quize-result-table th,
.quize-result-table td {
    font-size: 1rem;
    padding: 1.2rem;
    text-align: left;
}

.quize-result-right {
    background-color: #ace9b9;
    color: green;
}

.quize-result-wrong {
    background-color: #eda1a1;
    color: #c21111;
}


/*quize result end*/


/*responsuve start*/

@media screen and (max-width:694px) {
    html{
        font-size: 13px;
    }
    .header {
        display: flex;
        flex-direction: column;
        height: 11rem;
    }
    .logo {
        margin: 0 auto;
        height: 5rem;
        width: 5rem;
    }
    .header-txt h1 {
        text-align: center;
        font-size: 1.5rem;
    }
    .login-container,
    .quize-start {
        width: 95%;
    }
    .quize-result-info h1,
    .quize-result-header h1 {
        font-size: 1.36rem;
        line-height: 1, 5rem;
    }
    .quize-result-header h1 {
        font-size: 1.8rem;
    }
    .quize-content {
        margin-left: 3rem;
    }
    .quize-option {
        margin-left: 1.8rem;
    }
}


/*responsive end*/